body{
    background-color: rgba(255, 182, 47, 0.822);
    font-family: 'Courier New', Courier, monospace;
    min-width: 900px;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* HEADER */

#header{
    font-size: 24px;
    font-weight: bold;
    margin: 12px 30px;
    display: flex;
    align-items: flex-end;
    gap: 25px;

}

.text-border{
    text-shadow: 2px 0 red, -2px 0 red, 0 2px red, 0 -2px red,
    1px 1px red, -1px -1px red, 1px -1px red, -1px 1px red;
}

.x{
    color: green;
    text-shadow: 2px 0 goldenrod, -2px 0 goldenrod, 0 2px goldenrod, 0 -2px goldenrod,
    1px 1px goldenrod, -1px -1px goldenrod, 1px -1px goldenrod, -1px 1px goldenrod;
}

.h1-color-2{
    color: rgb(255, 145, 0);

}

.h1-color-1{
    color: white;
    
}


#logo{
    width: 350px;
    height: auto;
}

/* CONTENT */
#content{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 10px;

}

/* START NEW GAME SCREEN */

.screen{
    display: flex;
    flex-direction: column;
}

#start-screen{
    align-items: center;
    justify-content: center;
}

#start-screen img{
    max-width: 890px;
    height: auto;
    border: 4px solid rgb(196, 0, 0);
    border-radius: 10px;
}

#start-screen p{
    color: green;
    font-size: 25px;


}

#start-screen #play{
    padding: 10px 25px;
    border: 3px solid rgb(196, 0, 0);
    background-color: orange;
    color: white;
    font-size: 25px;
    font-weight: bold;

}

/* GAME SCREEN */

#score{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 95vw;
    height: 4vh;
    gap: 5px;

}

#score img{
    flex: 0 0 auto;
    max-width: 75px;
    max-height: auto;
}

.health-bar{
    flex: 1;
    background-color: lightgray;
    border: 3px solid red;
    padding: 2px;
}


/* FOOTER */

#footer{
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    margin: 0px;
    padding: 0px;
}

